.nav-website-logo {
  height: 30px;
  margin-left: 30px;
}
.sun {
  color: white;
  font-size: 30px;
}
.moon {
  color: black;
  font-size: 30px;
}
.theme-button {
  background-color: transparent;
  border-width: 0px;
}
.profile {
  height: 30px;
}
.log-out-container {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}
.log-out-button {
  height: 30px;
  width: 80px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #3b82f6;
  color: #3b82f6;
  font-weight: 600;
  border-radius: 5px;
}
